<input type="file" name="photo" ng2FileSelect [uploader]="uploader" (change)="onSelectFile($event)" #fileInput/> <br>
<img [src]="url" height="200" style="margin-top: 20px"> <br/>
<!--<img src='' height="200" style="margin-top: 20px">-->
<button type="button" class="btn btn-success btn-s"
        (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length"
        style="margin-top: 20px"
        >
  Upload an Image
</button>
<br> <br>


<!--<img src="../assets/uploads/compressed/photo-1532697337090..jpg" height="1024" width="1024"/>-->
<img [src]="compressurl" height="200"/>

